.json { font-family: monospace; }
.array, .object { padding-left: 2ex; }
.array.compact, .object.compact { padding-left: 1ex; padding-right: 1ex; }
.array.folded, .object.folded { display: none; }
button.fold {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: -2px;
  padding: 0 5px;
  user-select: none;
}
.string a, .property a { color: inherit; text-decoration: none; }
.string a:hover, .property a:hover { text-decoration: underline; }
.string { color: #a31515; }
.number { color: #098658; }
.null { color: #555555; }
.boolean { color: #0000ff; }
.property { color: #0451a5; }
.punctuation { color: #999999; }
@media (prefers-color-scheme: dark) {
  .string { color: #ce834a; }
  .number { color: #b5cea8; }
  .null { color: #aaaaaa; }
  .boolean { color: #569cd6; }
  .property { color: #9cdcfe; }
  .braces { color: #ce70d6; }
  .punctuation { color: #777777; }
}
